//Fonts
$main_font: 'Digital', sans-serif;
$font: Tahoma, Arial, sans-serif;

$font_size: 16px;

//colors
$black_01: #333;
$black_02: #242424;
$black_03: #000;

$green_01: #81d830;

$white_01: #fff;
$white_02: #eee;

$grey_01: #707070;

$red_01: #ff0000;