.time {
	width: 370px;
	margin: 100px auto 0;
	text-align: center;
}
.numbers {
	font-family: $main_font;
	background: $black_02;
	color: $green_01;
	font-size: 35px;
	padding: 30px;
	border-radius: 8px 8px 0 0;
	box-shadow: inset 3px 4px 32px 0 rgba(0, 0, 0, 0.75);
	position: relative;

	&_mirror {
		position: absolute;
		top: 30px;
		left: 90px;
		opacity: .2;
	}
}
.buttons {
	font-family: $font;
	background: $white_01;
	position: relative;
	border-radius: 0 0 8px 8px;

	@include clearfix;
}
.buttons_item {
	float: left;
	border-left: 1px solid $white_02;
	padding: 20px 10px;
	text-align: center;
	width: 25%;

	&:first-child {
		border-left: none;
		width: percentage(1/2);
		padding: 20px 0;
	}

	.buttons_link {
		color: $black_03;
		font-size: 18px;
	}

}
.play {
	.buttons_link {
		@include icon(play);

		&:before {
			margin-right: 10px;
			font-size: 14px;
		}
	}
}
.lap {

	.buttons_link {
		@include icon(lap);
	}
}
.clean {

	.buttons_link {
		@include icon(clean);
	}
}
.pause {
	display: none;
	position: absolute;
	top: -2px;
	left: 50px;
	border-left: none;
	font-size: 14px;

	.buttons_link {
		@include icon(pause);

		&:before {
			margin-right: 10px;
			font-size: 14px;
		}
	}

}
.separator {
	color: $green_01;
	animation: 1s blink step-end infinite;
}
@keyframes blink {
	50% {
		opacity: 0.0;
	}
}
// laps section

.laps {
	font-family: $main_font;
	color: #fff;
	font-size: 35px;
	line-height: 100%;
	position: relative;

	&_item {
		@include clearfix;

		width: 100%;
		border-top: 1px solid $grey_01;
		padding: 20px 0;
		font-size: 22px;

		&:first-child {
			border-top: none;
		}
	}

	&_time {
		float: left;
		position: relative;
	}

	&_remove {
		font-family: $font;
		visibility: hidden;
		opacity: 0;
		background-color: $red_01;
		float: right;
		font-size: 18px;
		padding: 0 10px;
		text-transform: uppercase;
		cursor: pointer;

		@include transition;
	}
}
.laps_item:hover > .laps_remove {
	visibility: visible;
	opacity: 1;

	@include transition;
}
.laps_mirror {
	top: 0;
	left: 0;
}